@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: black;
}
/* Add this CSS to highlight the selected item and apply hover effect */
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #13b84a;
}

.list-group-item.selected {
  background-color: green;
}
/* Custom CSS for card hover effect */
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

/* Adjust transition for smoother effect */
.card {
  /* transition: all 0.3s ease; */
  transition: transform 0.3s;
}
